body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: lighter;
    color: gray;
}

/* General CSS + Index Page CSS */

.searchbar input {
    margin: 0 auto;
    padding: 0 35px;
    width: 95%;
    height: 50px;
    box-shadow: 0 0 15px rgb(196, 196, 196);
    border-style: none;
    border-radius: 10px;
}

.searchbar i {
    transform: translate(30px, 2px);
    font-size: large;
}

.filters {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.burgers {
    margin-right: 5px;
    height: 200px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(225, 225, 225);
}

.burgers:hover {
    background-color: rgb(185, 21, 21);
    color: rgb(255, 255, 255);
}

.pizza {
    margin-right: 5px;
    height: 200px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(225, 225, 225);
}

.pizza:hover {
    background-color: rgb(185, 21, 21);
    color: rgb(255, 255, 255);
}

.cakes {
    margin-right: 5px;
    height: 200px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(225, 225, 225);
}

.cakes:hover {
    background-color: rgb(185, 21, 21);
    color: rgb(255, 255, 255);
}

.arrow {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    align-self: center;
    transform: translate(35px, 15px);
    text-align: center;
    line-height: 30px;
}

.burgers:hover>.arrow {
    background-color: white;
    color: rgb(185, 21, 21);
}

.pizza:hover>.arrow {
    background-color: white;
    color: rgb(185, 21, 21);
}

.cakes:hover>.arrow {
    background-color: white;
    color: rgb(185, 21, 21);
}

.filtericon {
    height: auto;
    width: 50px;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.headingarea {
    display: grid;
    grid-template-columns: auto auto;
}

.heading {
    font-size: smaller;
    justify-content: start;
}

.viewall p {
    color: rgb(185, 21, 21);
    text-align: end;
}

.cheesychicken {
    margin: 0 auto;
    height: 340px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(196, 196, 196);
    padding-top: 3px;
    transform: translate(0, 40px);
}

#chickenhref {
    text-decoration: none;
    color: black;
}

.preview {
    display: flex;
    height: 230px;
    width: 380px;
    background-color: rgb(185, 21, 21);
    justify-content: center;
    border-radius: 15px;
    margin: 10px auto;
    align-items: center;
}

.cheesy {
    height: auto;
    width: 280px;
    transform: translate(0, -40px);
}

.name,
.desc {
    margin: 15px;
}

.name {
    display: inline;
}

.desc {
    color: grey;
}

.price {
    display: inline;
    text-align: right;
    font-weight: bold;
    margin-left: 100px;

}

.navbar {
    display: flex;
    z-index: 3000;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

.navlist {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: auto;
    padding-left: 0;
}

.navbar p {
    color: grey;

}

.navlink i {
    font-size: 24px;
    color: grey;
}

.navlink {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    line-height: 8px;
    text-decoration: none;
}

/* Order Page CSS */

.size {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 25%;
    box-shadow: 0 0 20px rgb(196, 196, 196);

}

.sizes {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 60px);
    font-size: 18px;
    margin: 50px auto 0;
}

.quantity {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    margin: 30px 25% 0;
}

.scaling {
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 146, 146);
    vertical-align: middle;
    line-height: 20px;
    margin: 20px 0;
    border-radius: 50%;
}

#small {
    grid-row: 1/2;
    grid-column: 1/1;
}

#medium {
    grid-row: 2/3;
    grid-column: 3/4;
    color: white;
    background-color: rgb(185, 21, 21);
}

#large {
    grid-row: 1/2;
    grid-column: 5/6;
}

.oval {
    height: 1000px;
    width: 150%;
    box-shadow: 0 0 30px rgb(196, 196, 196);
    display: flex;
    justify-self: center;
    position: absolute;
    transform: translate(-17.5%, -60%);
    border-radius: 50%;
    z-index: -100;
}

.beef {
    display: flex;
    width: 300px;
    height: auto;
    margin: 0px auto 0;
    z-index: 10;
}

.text {
    justify-content: center;
    text-align: center;
    font-size: small;
    margin: 25% 10% 0;
}

.topbutton {
    width: 45px;
    height: 45px;
    box-shadow: 0 0 15px rgb(196, 196, 196);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    line-height: 45px;
    position: absolute;
    top: 30px;
}

.topbutton:hover {
    color: white;
    background-color: rgb(185, 21, 21);
}

.topbutton i {
    display: inline-block;
    vertical-align: middle;
    line-height: 45px;
    font-size: x-large;
}

.topbutton a {
    color: black;
    text-decoration: none;
}

#heart {
    right: 10px;
    color: rgb(185, 21, 21);
}

#dots {
    right: 10px;
}

#heart:hover {
    color: white;
}

.checkout {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 40px);
    padding-left: 15px;
}

.checkoutamount {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    margin: 0;
    font-size: larger;
    color: gray;
}

.dollar {
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    font-size: xx-large;
    font-weight: bold;
}

.cart {
    background-color: rgb(185, 21, 21);
    color: white;
    font-size: larger;
    width: 110%;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0;
    line-height: 40px;
    border-radius: 10px 0 0 10px;
}

.cart a {
    text-decoration: none;
    color: white;
}

/* Cart Page CSS */

#carttitle {
    display: block;
    text-align: center;
    font-size: x-large;
    margin-top: 35px;
}

.cartitem {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(2, 70px);
    box-shadow: 0 0 15px rgb(196, 196, 196);
    margin-bottom: 15px;
    border-radius: 10px;
}

.itemimg {
    grid-row: 1/3;
    grid-column: 1/2;
    height: auto;
    width: 100px;
    margin: auto 25px;
}

.itemimg i {
    grid-row: 1/2;
    grid-column: 3/4;
}

.itemimg .price {
    grid-row: 2/3;
    grid-column: 3/4;
}

.foodquantity {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: repeat(3, 35px);
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 0px 1px rgb(196, 196, 196);
    height: 35px;
    margin: auto;
    line-height: 5px;
}

#plus,
#minus {
    color: rgb(185, 21, 21);
}

.itemname {
    align-items: center;
    text-align: center;
    line-height: 50px;
    color: black;
    font-weight: bold;
}

.foodprice {
    grid-column: 3/4;
    grid-row: 2/3;
    align-items: center;
    text-align: right;
    margin: 0;
    line-height: 35px;
    margin-right: 15px;
    color: black;
    font-weight: bold;
}

.cartitem i {
    align-items: center;
    text-align: right;
    font-size: xx-large;
    line-height: 70px;
    color: rgb(185, 21, 21);
    margin-right: 15px;
}

#cheesychicken {
    margin-top: 45px;
}

.coupon {
    width: 100%;
    background-color: black;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    color: white;
    line-height: 80px;
    font-size: larger;
}

.coupon i {
    color: white;
    font-size: x-large;
    line-height: 35px;
    transform: translate(0, 15%);
}

.total {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
    margin: 0 10px;
}

.horizontalline {
    height: 1px;
    width: 100%;
    margin: 30px auto;
    background-color: rgb(196, 196, 196);
}

.total p {
    color: rgb(126, 132, 141);
}

.total .moneyvalue {
    grid-column: 2/3;
    text-align: right;
    font-weight: bold;
    color: black;
}

.payment {
    width: 100%;
    background-color: rgb(185, 21, 21);
    height: 80px;
    border-radius: 10px;
    text-align: center;
    color: white;
    line-height: 80px;
    font-size: larger;
}