body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    margin: 20px;
}

.oval {
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 20px 15px rgb(225, 225, 225);
}

.beef {
    height: auto;
    width: 250px;
    margin: 75px;
}

.size {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 10px rgb(132, 132, 132);
    border-radius: 10px;
    text-align: center;
}

